.item {
    display: flex;
    flex-direction: column;
    padding: 25px;
    border: 2px solid black;
    border-radius: 10px;
    align-items: center;

    img {
        width: 100%;
    }

    .user__name {
        font-size: 30px;
        margin-top: 10px;
    }

    .status {
        font-size: 20px;
    }
}

.red {
    color: red;
}

.green {
    color: green;
}