.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    list-style-type: none;
    width: 100%;
    gap: 20px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}